*
    box-sizing: border-box

body
    font-family: Helvetica, sans-serif
    font-size: 14px
    text-align: center
    color: $mainWhite
    background: $mainBackground
    min-height: 100vh
    margin: 0
    padding: 0

#root
    min-height: 100vh

// Reset elements

input
    &, &:hover, &:focus, &:active, &:focus-visible
        border: initial
        outline: initial
        color: inherit

button
    border: none
    color: inherit
    outline: none

a
    text-decoration: none

    &, &:visited, &:focus
        color: $primaryColor

@include hide("s", $bp-small)
@include hide("md", $bp-medium)
@include hide("l", $bp-large)
@include hide("xl", $bp-xlarge)
@include hide("xxl", $bp-xxlarge)
