*
    box-sizing: border-box

body
    display: grid
    place-items: center
    min-height: 100vh
    font-family: Helvetica, sans-serif
    font-size: 14px
    color: $mainWhite
    background: $mainGray
