$primaryColor: #088
$mainWhite: #fff
$mainGray: #aaa
$mainBlack: #222
$mainBackground: #2c363d

// Breakpoints (min-width)

$bp-xsmall: 0px
$bp-small: 576px
$bp-medium: 768px
$bp-large: 992px
$bp-xlarge: 1200px
$bp-xxlarge: 1400px
